//
// Global
// --------------------------------------------------

html {
    -webkit-text-size-adjust: 100%;
}



//
// Layout
// --------------------------------------------------
.off-canvas-wrap {
	background: $white-color;
}

.inner-wrap-forarrows {
	padding-bottom: 40px;
	
	@media #{$large-up} {	
		min-height:100vh;
		padding-bottom: 100px;
	}

	@media #{$xlarge-up} {			

	}

}


	.inner-wrap-forarrows,
	.footer-wrap-forarrows {
		@media #{$large-up} {
			padding-left: 40px;
			padding-right: 40px;
		}

		@media #{$xlarge-up} {
			padding-left: 160px;
			padding-right: 160px;
		}
	}



// Page
.page-content,
.awards-list {
	@media #{$large-up} {
		padding-right: rem-calc(30);
	}
}

.page-img {
	text-align: right;
}


.project-carousel {
	position: relative;
}



.col-div {
	background: url("../images/div.png") repeat-y -100px 40px;
}




.page-contact {
	
	.contact-details,
	.contact-find,
	.contact-us {
			padding: rem-calc(30 0);
	}

	.contact-find,
	.contact-us {
		border-top: 1px solid $gray-color;
	}


	@media #{$medium-up} {
		.contact-find {
			border-top: none;
		}
	}

	@media #{$large-up} {

	}


	@media #{$xlarge-up} {
		.contact-us {
			border-top: none;
		}

		.contact-details,
		.contact-find,
		.contact-us {
				padding: rem-calc(0);
				min-height: 260px;
		}

		.contact-details,
		.contact-find {
			background: url("../images/div.png") repeat-y right 20px;
		}
		.contact-find {
			padding-right: 40px;
		}

	}
	

	@media #{$xxlarge-up} {
		.contact-details,
		.contact-find,
		.contact-us {
			min-height: 260px;
			border-top: none;
		}

		.contact-details,
		.contact-find {
			background: url("../images/div.png") repeat-y right 40px;
			margin-right: 40px;
		}

		.contact-find {
			padding-right: 120px;
		}
	}

}