//
// Header
// --------------------------------------------------


// Main Nav
.top-bar {
	position: relative;

	@media #{$large-up} {
		height: 80px;
	}

	@media #{$xlarge-up} {
		height: 142px;
	}
}

.top-bar-section {
	@media #{$large-up} {
		margin-top: 67px;
	}

	@media #{$xlarge-up} {
		margin-top: 130px;
	}
}

.top-bar-section ul li > a,
.top-bar-section .has-dropdown > a {
	padding: 0 0 0 48px !important;
}

.top-bar-section ul li > a {
	line-height: 1;
}

.top-bar-section .dropdown {
	top: auto;
	bottom: 100%;
	text-align: right;
	li {
		margin: 0;		
		a {
			background: none !important;
			padding: 0 !important;
		}
	}
}

.top-bar-section .dropdown.is-active {
	display: block;
  position: static !important;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
  position: absolute !important;
}



.top-bar-section a.is-active {
	color: $black-color !important;
}

// Mobile Nav
.tab-bar {
	margin-bottom: $topbar-margin-bottom;
}

.right-off-canvas-toggle {
	color: #666;
	font-family: $alt-font;	
	font-size: rem-calc(12);
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;

	border: 1px solid #ccc;
	padding: 6px 6px 4px 6px;

	position: absolute;
	top: 14px;
	right: 0;

	&:hover {
		color: #000;
		border-color: #666;
	}

	.fa {
		display: block;
	}
}


// Logo
h1.logo,
h1.logo-mobile {
	margin: 0;
	padding: 0;
	float: left;

	a {
		display: block;
		width: 200px;
		height: $tabbar-height;
		background-image: url("../images/logo.png");
		background-size: 200px 112px;
		background-position: 0 -36px;
		
		@media #{$large-up} {
			width: 253px;
			height: 80px;
			background-size: 253px 142px;
			background-position: 0 -62px;
		}

		@media #{$xlarge-up} {
			width: 253px;
			height: 142px;
			background-size: 253px 142px;
			background-position: 0 0;
		}
	}

	.hidden {
		display: none;
	}
}

/*
h1.logo-mobile {
	a {
		height: $tabbar-height;
		background-position: 0 -60px;
	}
}
*/


