{% extends "_layout" %}
{% set title = entry.title %}

{% set asset = entry.postImage.first() %}

{% block content %}

<div class="page-post">
	<div class="row">
		<div class="large-12 columns">
			<article class="post post-type-image">
				{% if asset %}
				<div class="post-media">
					<img src="{{ asset.url }}" class="post-image" alt="{{ asset.altText }}" width="{{ asset.width }}" height="{{ asset.height }}" />
				</div>
				{% endif %}	
				<header class="post-header">
					<h2 class="post-title">{{ entry.title }}</h2>
					<p class="post-meta">{{ entry.postDate|date('M d, Y') }}</p>
				</header>
				{% if entry.postDisplaySettings.contains('showIntro') | length %}
					{{ entry.postIntro }}
				{% endif %}	
				{{ entry.postBody }}
				<a href="{{ siteUrl }}news" class="btn btn-link">Back to News</a>
			</article>
		</div>
	</div>
</div>

{% endblock %}
