{% extends "_layout" %}
{% set title = "News" %}

{% block content %}

<div class="page-news">
	<div class="row">
		<div class="large-12 columns">
			<ul class="post-grid">
			{% for entry in craft.entries.section('news').find() %}
				{% set asset = entry.postImage.first() %}
				{% set btnTitle = "Continue Reading" %}
				{% set btnUrl = entry.url %}
				{% set showReadMore = true %}

				{% if entry.postDisplaySettings.contains('hideReadMore') | length %}
					{% set showReadMore = false %}
				{% endif %}	

				{% for block in entry.postReadMore.type('readMoreButton') %}
					{% if block.buttonTitle is not empty %}
						{% set btnTitle = block.buttonTitle %}
					{% endif %}
					{% if block.externalUrl is not empty and block.linkToExternalUrl %}
						{% set btnUrl = block.externalUrl %}
					{% endif %}								
				{% endfor %}

				<li class="post-item">
					<article class="post post-type-image">
						{% if asset %}
						<div class="post-media">
							{% if showReadMore %}<a href="{{ btnUrl }}">{% endif %}<img src="{{ asset.url }}" class="post-image" alt="{{ asset.altText }}" width="{{ asset.width }}" height="{{ asset.height }}" />{% if showReadMore %}</a>{% endif %}
						</div>
						{% endif %}	
						<div class="post-body">
							<header class="post-header">
								<h2 class="post-title">
									{% if showReadMore %}<a href="{{ btnUrl }}">{% endif %}	{{ entry.title }}{% if showReadMore %}</a>{% endif %}	
								</h2>
								<p class="post-meta">{{ entry.postDate|date('M d, Y') }}</p>
							</header>
							{{ entry.postIntro }}
							{% if showReadMore %}
							<a href="{{ btnUrl }}" class="btn btn-link">{{ btnTitle }}</a>	
							{% endif %}			
						</div>
					</article>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}