{% extends "_layout-dev" %}

{% block content %}

<article class="page-contact">
	<div class="row">
		<div class="large-12 columns">
			<section class="contact-map">
				<div class="google-map">
					<iframe width="1470" height="480" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Suite%2014%2C%2040%20Yeo%20St%20Neutral%20Bay%2C%20NSW%202089&key=AIzaSyBiAD2tlzv1CXVhOPFqf-bLDk_nM4k1EC8&maptype=satellite"></iframe>
				</div>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="xxlarge-3 xlarge-3 large-6 medium-6 columns">
			<section class="contact-details">
				<h3>Contact Details</h3>
				<h6 class="contact-hd">Address</h6>
				<p>suite 14, 40 Yeo St</p>
				<p>Neutral Bay, NSW 2089</p>
				<p class="contact-phone"><strong>Telephone</strong> +61 (02) 9904 1844</p>
				<p class="contact-fax"><strong>Facsimile</strong> +61 (02) 9904 1855</p>
				<p class="contact-email"><strong>Email</strong> <a href="mailxa@corben.com.au">mailxa@corben.com.au</a></p>
			</section>
		</div>
		<div class="xxlarge-5 xlarge-4 large-6 medium-6 columns">
			<section class="contact-find">
				<h3>How to Find Us</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
			</section>
		</div>
		<div class="xxlarge-4 xlarge-5 large-12 medium-12 columns">
			<section class="contact-us">
				<h3>Email Us</h3>
				<form class="form-contact">
				  <div class="row">
				    <div class="large-7 columns">
				      <label>Name
				        <input type="text" placeholder="" />
				      </label>
				    </div>
				  </div>
				  <div class="row">
				    <div class="large-7 columns">
				      <label>Email
				        <input type="email" placeholder="" />
				      </label>
				    </div>
				    <div class="large-5 columns">
				      <label>Phone
				        <input type="tel" placeholder="" />
				      </label>
				    </div>			    
				  </div>
				  <div class="row">
				    <div class="large-12 columns">
				      <label>Message
				        <textarea rows="4" placeholder=""></textarea>
				      </label>
				    </div>
				  </div>
				  <div class="row">
				    <div class="large-12 columns">
				      <button class="button">Send</button>
				    </div>
				  </div>
				</form>
			</section>
		</div>
</article>

{% endblock %}