{% extends "_layout-dev" %}

{% block content %}
 
<article class="page-home">
	<div class="row">
	  <div class="xlarge-12 columns">  
	  	<section class="project-carousel">
		  		<div id="home-carousel" class="owl-carousel corben-carousel"> 
					<div class="carousel-item home-carousel-item"><img src="{{siteUrl}}images/homepage-photo-1.jpg" alt="Slide One" /></div>
					<div class="carousel-item home-carousel-item"><img src="{{siteUrl}}images/homepage-photo-2.jpg" alt="Slide Two" /></div>
					<div class="carousel-item home-carousel-item"><img src="{{siteUrl}}images/homepage-photo-3.jpg" alt="Slide Three" /></div>
				</div>
	  	</section>						
	  </div>
	</div>
</section>

{% endblock %}