{% extends "_layout-dev" %}

{% block content %}
 
<!-- /* Home Carousel -->
<section class="section-carousel">
	<div class="row">
	  <div class="xlarge-12 columns">  	
			<div id="home-carousel" class="owl-carousel corben-carousel"> 
				<div class="carousel-item home-carousel-item"><img src="http://placehold.it/1470x830" alt="Slide One" /></div>
				<div class="carousel-item home-carousel-item"><img src="http://placehold.it/1470x830" alt="Slide Two" /></div>
				<div class="carousel-item home-carousel-item"><img src="http://placehold.it/1470x830" alt="Slide Three" /></div>
			</div>		
	  </div>
	</div>
</section><!-- Home Carousel */ -->

{% endblock %}