{% extends "_layout-dev" %}

{% block content %}

<article class="page-general">
	<div class="row">
		<div class="xlarge-4 large-6 columns">
			<section class="page-content">
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis assumenda distinctio aperiam fuga in est quasi eius? Voluptate, doloribus, aliquid, labore ullam ipsam quos atque explicabo earum libero vitae nemo.</h4>
				<p>Cum deserunt incidunt ducimus a porro nemo facilis obcaecati dolorem quae tempora! Natus, quos, ea, amet facilis totam optio incidunt veritatis dolore quasi aliquam neque modi ullam autem distinctio sapiente.</p>
				<p>Quisquam, excepturi repellat et aliquid est minus laborum vitae blanditiis doloribus amet beatae cupiditate deserunt sit numquam ex nam labore molestiae alias autem fugit commodi debitis dicta illum ullam cumque?</p>
				<p>Nostrum, a, aliquid quam rem eius natus iure fuga error placeat deleniti repellat dignissimos voluptatum ducimus sequi cupiditate eos officiis nesciunt reprehenderit mollitia ex. Voluptatem ad vel consectetur beatae assumenda.</p>
				<p>Dolorum, porro, tenetur, sunt nulla explicabo voluptas consequuntur voluptates quibusdam vero facere aperiam asperiores commodi odio eius ab ex velit nesciunt ea dolores animi eaque fuga dignissimos ipsum reprehenderit tempora?</p>
			</section>
		</div>
		<div class="xlarge-8 large-6 columns">
			<section class="page-img show-for-large-up">
				<img src="http://placehold.it/1050x700" class="general-image" />
			</section>
		</div>
	</div>
</article>

{% endblock %}