{% extends "_layout-dev" %}

{% block content %}

<article class="page-projects">
	<div class="row">
		<div class="large-12 columns">
			<section class="projects">
				<ul class="project-grid project-grid-hover">
					{% for i in 0..19 %}
				  <li class="project-grid-item">
				  	<a href="{{ siteUrl }}dev/project" class="project-thumb">
							<figure>
								<img class="project-thumb-img" src="http://placehold.it/480x320" />
								<figcaption>
									<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
								</figcaption>
							</figure>
				  	</a>
				  </li>
				  {% endfor %}
				</ul>
			</section>
		</div>
	</div>
</article>

{% endblock %}