//
// Footer
// --------------------------------------------------



.footer {
	background: #e5e5e5;
	text-align: center;
	padding-bottom: 10px;
}


.footer-info-list {
	margin: 12px 0 0 0;
	color: #9e9e9e;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: rem-calc(13);

	@media #{$medium-up} {	
		margin: 18px 0 0 0;
		font-size: rem-calc(11);
		float: right;
	}

	li {
		padding: 0 4px;
		margin: 0;
		display: inline;

		&:last-child {
			padding-right: 0;
		}
	}	

  a {
  	color: #666;
  	text-decoration: none;

  	&:hover {
  		color: #000;
  	}
  }

	.nospace {
		padding: 0;
	}		

}


.footer-nav-list {
	margin: 14px 0 0 0;
	color: #9e9e9e;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;	
	font-size: rem-calc(14);

	@media #{$medium-up} {	
		font-size: rem-calc(12);
		float: left;
	}

	li {
		padding: 0 4px;
		margin: 0;
		display: inline-block;

		&:first-child {
			padding-left: 0;
		}
	}	

  a {
  	color: #666;
  	text-decoration: none;

  	&.icon-link {
  		color: #ababab;
  	}

  	&:hover {
  		color: #000;
  	}

  }

	.nospace {
		padding: 0;
	}	

	.fa-lg {
		font-size: rem-calc(15);

		@media #{$medium-up} {	
			font-size: rem-calc(13);
		}
	}

}