//
// Molecules
// --------------------------------------------------
$mrg-mobile: rem-calc(24);
$mrg-desktop: rem-calc(20);


//
// Awards List
// --------------------------------------------------
.award-block {
	display: block;
	margin-bottom: $mrg-mobile;
	color: $medgray-color;

	@media #{$xlarge-up} {
		margin-bottom: $mrg-desktop;
	}
	
	&:hover,
	&.is-selected,
	{
		color: $black-color;
		
		.award-title,
		.award-subtitle {
			color: $black-color;
		}
	}
}

.award-title,
.award-subtitle {
	margin: 0;
	color: $medgray-color;
}

.award-notions-list {
	margin: rem-calc(2) 0 0 0;
}

.award-notion {
	line-height: 1.4;

	&:last-child {
		margin-bottom: 0;
	}

	@media #{$xlarge-up} {
		margin-bottom: 0;
	}
}

.btn-view-project {
	margin-top: rem-calc(10);
}



//
// Contact Details
// --------------------------------------------------
.contact-details p {
	margin-bottom: 0;
	
	strong {
		text-transform: uppercase;
	}
}

.contact-hd {
	text-transform: uppercase;
	margin: 0;
}

.contact-phone {
	margin-top: $mrg-mobile;
}

.google-map {
  position: relative;
  padding-bottom: 36%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

	iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
	}

	@media #{$large-up} {
		margin-bottom: rem-calc(30);
	}

}





//
// Contact Form
// --------------------------------------------------
button,
.button {
	font-family: $alt-font;
	font-size: $mobile-font-size;
	padding: rem-calc(10 20);
	
	text-transform: uppercase;
	
	&:hover {
		background: $darkergray-color;
	}

	@media #{$xlarge-up} {
		font-size: $desktop-font-size;
		padding: rem-calc(6 18);
	}
}

@media #{$xlarge-up} {
		label {
			font-size: $desktop-font-size;
		}

		input[type="text"], 
		input[type="password"], 
		input[type="date"], 
		input[type="datetime"], 
		input[type="datetime-local"], 
		input[type="month"], 
		input[type="week"], 
		input[type="email"], 
		input[type="number"], 
		input[type="search"], 
		input[type="tel"], 
		input[type="time"], 
		input[type="url"], 
		textarea {
			font-size: rem-calc(12);
			height: rem-calc(30);
			margin-bottom: rem-calc(8);
		}
}

.contact-find p:last-child {
	margin-bottom: 0;
}



//
// Project
// --------------------------------------------------
.project-title {
	text-transform: uppercase;
	//margin: 0 0 $mrg-mobile 0;
	margin: rem-calc(0 0 10 0);
	font-size: rem-calc(15);
	line-height: 1.2;

	@media #{$medium-up} {
		font-size: rem-calc(15);
	}
	
	.divider {
		padding: rem-calc(0 4);
	}
}

.project-client {
	color: $black-color;
	font-weight: $alt-font-reg;
	font-size: rem-calc(15);

	@media #{$medium-up} {
		font-size: rem-calc(15);
	}
}

.project-detail-item {
	font-size: rem-calc(12);
	line-height: 1.4;
	margin-bottom: rem-calc(2);

	@media #{$medium-up} {
		//font-size: rem-calc(12);
		//margin-bottom: rem-calc(2);
	}
}

.btn-project-pdf {
	font-size: inherit;
}

.project-description p {
	font-size: rem-calc(12);

	@media #{$medium-up} {
		font-size: $desktop-font-size;
		line-height: $desktop-line-height;
	}
}

ul.project-pagination,
.project-navbar .btn {
	display: inline-block;
	vertical-align: top;
}

ul.project-pagination {
	@media #{$xlarge-up} {
		margin-top: rem-calc(3);
	}
}

.project-navbar .btn {	
	line-height: rem-calc(20);
	padding: rem-calc(2 0);
}

.btn-proj-gallery {
	font-size: rem-calc(20);
	margin-right: rem-calc(8);

	@media #{$xlarge-up} {
		font-size: rem-calc(16);
	}
}

.project-navbar {
	text-align: center;
	margin: rem-calc(6 0 0 10);
	z-index: 200;

	@media #{$large-up} {		
		text-align: left;
	}
}

.project-panel {
	display: none;
	
	width: 100%;	
	padding: rem-calc(26 0 0 0);

	background: #fff;

	@media #{$large-up} {		
		position: absolute;
		left: 0;
		bottom: 30px;

		padding: rem-calc(26 10 0 42);
		font-size: rem-calc(16);
	}

	@media #{$xlarge-up} {	
		padding-left: rem-calc(38);
	}	

}


//
// Project Grid
// --------------------------------------------------
.project-grid {
	@include block-grid(1);
	
	@media only screen and (min-width: 480px) {
		@include block-grid(
		$per-row: 2,
		$spacing: 2px,
		$base-style: true
		);
	}
	@media only screen and (min-width: 900px) {
		@include block-grid(
		$per-row: 3,
		$spacing: 2px,
		$base-style: true
		);
	}
	@media only screen and (min-width: 1280px) {
		@include block-grid(
		$per-row: 4,
		$spacing: 2px,
		$base-style: true
		);
	}
	@media only screen and (min-width: 1400px) {
		@include block-grid(
		$per-row: 5,
		$spacing: 2px,
		$base-style: true
		);
	}	
}

.project-grid-item {
	margin-bottom: 1px !important;
	padding-bottom: 2px !important;
}

.project-grid figure {
	margin: 0;
	position: relative;

	img {
		max-width: 100%;
		display: block;
		position: relative;
	}

}

.project-grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: rem-calc(8 20);
	background: #fff;
	color: $darkergray-color;
	text-align: center;
	text-transform: uppercase;
}

.project-grid .project-thumb-title {
	margin: 0;
	padding: 0;
	color: $darkergray-color;
	font-size: rem-calc(13);
	line-height: 1.2;
}

.project-grid .project-thumb-client {
	font-weight: 400;
}

// Hover Styling
.project-grid-hover figure {
	overflow: hidden;

		img {
		-webkit-transition: -webkit-transform 0.4s;
		-moz-transition: -moz-transform 0.4s;
		transition: transform 0.4s;
	}
}

.no-touch .project-grid-hover figure:hover img,
.project-grid-hover figure.cs-hover img {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.project-grid-hover figcaption {
	height: auto;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .project-grid-hover figure:hover figcaption,
.project-grid-hover figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}



//
// Project Carousel
// --------------------------------------------------
/* Styling Pagination */
.corben-carousel .owl-controls {	

	margin-top: 10px;
	text-align: center;

	@media #{$large-up} {
		display: block;
		float: right;
		text-align: right;
	}
	
	.owl-pagination {
		text-align: center;
		font-size: rem-calc(14);
		padding-right: 2px;

		@media #{$xlarge-up} {
			font-size: rem-calc(11);
		}
	}
	
	.owl-page {
		 display: inline-block;
		 zoom: 1;
		 *display: inline; /*IE7 life-saver */
		 
		 span {
				display: block;
				width: 12px;
				height: 12px;
				margin: 5px 7px;
				filter: Alpha(Opacity=100); /*IE7 fix*/
				opacity: 1;
				//-webkit-border-radius: 20px;
				//-moz-border-radius: 20px;
				//border-radius: 20px;
				background: #fff;
			}	
			
			/* If PaginationNumbers is true */
			span.owl-numbers {
				height: auto;
				width: auto;
				color: #424242;
				padding: rem-calc(2 10);
				margin: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
			}	 
	}
	
	.owl-page.active span,
	&.clickable .owl-page:hover span {
		filter: Alpha(Opacity=100); /*IE7 fix*/
		opacity: 1;
		color: $black-color;
	}
	
	.owl-page.active span {		
		font-weight: 700;
	}
	
	/* Styling Next and Prev buttons */
	.owl-buttons {
			div {
				color: $black-color;
				display: inline-block;
				zoom: 1;
				position: absolute;
				*display: inline; /*IE7 life-saver */
				margin: 0;
				padding: 0;
				font-size: 70px;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				filter: Alpha(Opacity=100); /*IE7 fix*/
				opacity: 1;

				@media #{$large-up} {
					font-size: 120px;
				}

				@media #{$xlarge-up} {
					font-size: 140px;
				}

			}
			
			/* Clickable class fix problem with hover on touch devices */
			/* Use it for non-touch hover action */
			div:hover {
				filter: Alpha(Opacity=100);/*IE7 fix*/
				opacity: 1;
				text-decoration: none;
				color: $darkergray-color;
			}

  	.owl-prev {
		  left: 5%;
		  top: 50%; 
		  margin-top: -50px;

		  @media #{$large-up} {
		  	left: 3%;
		  	margin-top: -75px;
			}

		  @media #{$xlarge-up} {
				left: -70px;
		  	margin-top: -80px;
			}
		}
		
		.owl-next {
		  right: 5%;
		  top: 50%;
		  margin-top: -50px;

		  @media #{$large-up} {
		  	right: 3%;
		  	margin-top: -75px;
			}

			@media #{$xlarge-up} {
				right: -70px;
		  	margin-top: -80px;
			}

		}

	}

}

/* preloading images */
.corben-carousel .owl-item.loading {
	min-height: 150px;
	background: url(../images/AjaxLoader.gif) no-repeat center center
}



//
// Team Grid
// --------------------------------------------------
.team-grid {
	@include block-grid(1);
	
	@media only screen and (min-width: 480px) {
		@include block-grid(
		$per-row: 2,
		$spacing: 2px,
		$base-style: true
		);
	}
	@media only screen and (min-width: 900px) {
		@include block-grid(
		$per-row: 3,
		$spacing: 2px,
		$base-style: true
		);
	}
	@media only screen and (min-width: 1280px) {
		@include block-grid(
		$per-row: 4,
		$spacing: 2px,
		$base-style: true
		);
	}
	@media only screen and (min-width: 1400px) {
		@include block-grid(
		$per-row: 5,
		$spacing: 2px,
		$base-style: true
		);
	}
}

.team-item {
	margin-bottom: $mrg-mobile;
}

.emp-name,
.emp-job,
.emp-bio {
	padding: rem-calc(0 12);
}

.emp-name {
	text-transform: uppercase;
	margin: rem-calc(12 0 0 0);
	line-height: 1.2;

	@media #{$xlarge-up} {
		margin: rem-calc(30 0 2 0);
	}
}

.emp-position {
	color: $black-color;
	font-weight: 400;
	font-size: rem-calc(16);

	@media #{$xlarge-up} {
		font-size: rem-calc(13);
	}
}

.emp-job {
	font-size: $mobile-font-size;
	line-height: 1.4;
	margin: 0;

	@media #{$xlarge-up} {
		font-size: $desktop-font-size;
		line-height: 1.2;
	}
}

.emp-bio {
	margin: rem-calc(10 0 0 0);

	@media #{$xlarge-up} {
		margin: rem-calc(20 0 0 0);
	}
}



