//
// Typography
// --------------------------------------------------

a {
	color: $medgray-color;
	
	&:hover {
		color: $black-color;
	}
}


h1	{ font-size: rem-calc(18); }
h2	{ font-size: rem-calc(18); }
h3	{ font-size: rem-calc(17); text-transform: uppercase; }
h4	{ font-size: rem-calc(15); }
h5	{ font-size: rem-calc(14); }
h6	{ font-size: rem-calc(14); }

// p, ul, dl, ol {
// 	font-size: 14px;
// 	line-height: $mobile-line-height;
// }

@media #{$xlarge-up} {
	h1	{ font-size: rem-calc(15); }
	h2	{ font-size: rem-calc(15); }
	h3	{ font-size: rem-calc(14); }
	h4	{ font-size: rem-calc(12); }
	h5	{ font-size: rem-calc(11); }
	h6	{ font-size: rem-calc(11); }

	p, ul, dl, ol {
		font-size: $desktop-font-size;
		line-height: $desktop-line-height;
	}
}


li {
	margin-bottom: rem-calc(8);
}


.btn {
	display: inline-block;
	text-transform: uppercase;
	color: $medgray-color;
	
	font-family: $alt-font;
	font-size: $mobile-font-size;
	line-height: 1;

	@media #{$xlarge-up} {
		font-size: $desktop-font-size;
	}
	
	&:hover {
		color: $black-color;
	}
}

.btn-link {
	text-decoration: underline;	
}



ul.pagination {
	margin: 0;
	
	li {
		color: $darkgray-color;
		margin-left: 0;	
		margin-bottom: 0;
		
		&.current a,
		&.current a:hover {
			background: $white-color;
			color: $black-color;
			font-weight: 700;
		}
			
	}
	
	li a,
	li:hover a {
		color: $darkgray-color;
		background: $white-color;
		
		&:hover {
			color: $black-color;
			background: $white-color !important;
		}
	}
	
}

@media #{$large-up} {
	ul.pagination,
	ul.pagination li {
		font-size: $desktop-font-size;
	}
}


// Misc
.nowrap {
	white-space: nowrap;
}

