$alt-font: 'Source Sans Pro', sans-serif;
$alt-font-reg: 400;
$alt-font-semi: 600;
$alt-font-bold: 700;

$desktop-font-size: rem-calc(11);
$desktop-line-height: 1.4;

$mobile-font-size: rem-calc(14);

$white-color: #fff;
$black-color: #000;
$darkergray-color: #333;
$darkgray-color: #424242;
$medgray-color: #666;
