{% extends "_layout" %}

{% set entrySlug = '' %}

{# Check for Practice Route to display correct title #}
{% if craft.request.getFirstSegment() == 'practice' %}
	{% set entrySlug = craft.request.getSegment(2) %}	
	{% set entry = craft.entries.slug(entrySlug).first() %}
	{% set title = entry.title ~ " | Practice" %}
{% else %}
	{% set title = entry.title %}
{% endif %}

{% set asset = entry.pageImage.first() %}

{% block content %}

<article class="page-general">
	<div class="row">
		{% if asset %}
		<div class="xlarge-4 large-6 columns">
			<section class="page-content">
				{{ entry.body }}
			</section>
		</div>
		<div class="xlarge-8 large-6 columns">			
			<section class="page-img show-for-large-up">
				<img src="{{ asset.url }}" class="general-image" alt="{{ asset.altText }}" width="{{ asset.width }}" height="{{ asset.height }}" />
			</section>
		</div>
		{% else %}
		<div class="xlarge-12 large-12 columns">
			<section class="page-content">
				{{ entry.body }}
			</section>
		</div>
		{% endif %}	
	</div>
</article>

{% endblock %}