<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />
		
		<!-- HEAD: Meta -->
		<meta name="description" content="{{ meta.metaDescription }}">
		<meta name="keywords" content="{{ meta.metaKeywords }}">
		<meta name="author" content="{{ meta.metaAuthor }}">
		<meta name="google-site-verification" content="{{ meta.metaGoogleSiteVerificationCode }}" />
		<meta property="og:site_name" content="{{ siteName }}">
		{% block meta %}{% endblock %}

		<!-- HEAD: Favicons -->
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

		<!-- HEAD: Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/bower_components/owlcarousel/owl-carousel/owl.carousel.css">
    
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>

    <!-- HEAD: Scripts -->
    <script src="/bower_components/modernizr/modernizr.js"></script>

  </head>
  
  <body>
	
		<!-- /* Off Canvas Container -->
		<div class="off-canvas-wrap" data-offcanvas>
  		<div class="inner-wrap">
				<div class="inner-wrap-forarrows">
					<div class="row">
						<div class="xlarge-12 columns">		  		  
			  		  <!-- /* Nav(s) -->	
			    		<nav class="tab-bar hide-for-large-up">
								<h1 class="logo-mobile"><a href="{{ siteUrl }}"><span class="hidden">Corben Architects</span></a></h1>
								<a class="right-off-canvas-toggle" href="#"><i class="fa fa-bars"></i> Menu</a>
			    		</nav>
			    		<nav class="top-bar show-for-large-up" data-topbar>
							  <h1 class="logo"><a href="{{ siteUrl }}"><span class="hidden">Corben Architects</span></a></h1>

							  <section class="top-bar-section">
							    <ul class="right">
							      <li class="has-dropdown">
							      	<a href="{{ siteUrl }}projects" {{ activeClass('projects',1,'is-active') }}>Projects</a>
							      	<ul class="dropdown {{ active('projects',1,'is-active') }}">
							          {% nav category in craft.categories %}
   											<li><a href="{{ category.url }}" {{ activeClass(category.slug,2,'is-active') }}>{{ category.title }}</a></li>
												{% endnav %}
							        </ul>
							      </li>
							      <li class="has-dropdown">
							        <a href="{{ siteUrl }}practice/about" {{ activeClass('practice|about|architecture|service|fees|awards',1,'is-active') }}>Practice</a>
							        <ul class="dropdown {{ active('practice|about|architecture|service|fees|awards',1,'is-active') }}">
							          <li><a href="{{ siteUrl }}practice/awards" {{ activeClass('awards',2,'is-active') }}>Awards</a></li>
							          <li><a href="{{ siteUrl }}practice/fees" {{ activeClass('fees',2,'is-active') }}>Fees</a></li>
							          <li><a href="{{ siteUrl }}practice/service" {{ activeClass('service',2,'is-active') }}>Service</a></li>
							          <li><a href="{{ siteUrl }}practice/architecture" {{ activeClass('architecture',2,'is-active') }}>Architecture</a></li>
							          <li><a href="{{ siteUrl }}practice/about" {{ activeClass('about',2,'is-active') }}>About</a></li>
							        </ul>
							      </li>
										<li><a href="{{ siteUrl }}people" {{ activeClass('people',1,'is-active') }}>People</a></li>
							      <li><a href="{{ siteUrl }}place" {{ activeClass('place',1,'is-active') }}>Place</a></li>
							    </ul>
							  </section>
							</nav><!-- Nav(s) */ -->	
						</div>
					</div><!-- Row */ -->	

	    		<!-- /* Off Canvas Menu -->
	    		<aside class="right-off-canvas-menu">
	        	<ul class="off-canvas-menu">
	          	<li class="has-dropdown">
	          		<a href="{{ siteUrl }}projects" {{ activeClass('projects',1,'is-active') }}>Projects</a>
								<ul class="dropdown {{ active('projects',1,'is-active') }}">
							    {% nav category in craft.categories %}
   								<li><a href="{{ category.url }}" {{ activeClass(category.slug,2,'is-active') }}>{{ category.title }}</a></li>
									{% endnav %}
								</ul>
	          	</li>
	          	<li>
	          		<a href="{{ siteUrl }}practice/about" {{ activeClass('practice|about|architecture|service|fees|awards',1,'is-active') }}>Practice</a>
	          		<ul class="dropdown {{ active('practice|about|architecture|service|fees|awards',1,'is-active') }}">
							    <li><a href="{{ siteUrl }}practice/awards" {{ activeClass('awards',2,'is-active') }}>Awards</a></li>
							    <li><a href="{{ siteUrl }}practice/fees" {{ activeClass('fees',2,'is-active') }}>Fees</a></li>
							    <li><a href="{{ siteUrl }}practice/service" {{ activeClass('service',2,'is-active') }}>Service</a></li>
							    <li><a href="{{ siteUrl }}practice/architecture" {{ activeClass('architecture',2,'is-active') }}>Architecture</a></li>
							    <li><a href="{{ siteUrl }}practice/about" {{ activeClass('about',2,'is-active') }}>About</a></li>
							  </ul>	
	          	</li>
	          	<li><a href="{{ siteUrl }}people" {{ activeClass('people',1,'is-active') }}>People</a></li>
	          	<li><a href="{{ siteUrl }}place" {{ activeClass('place',1,'is-active') }}>Place</a></li>
	          	<li><a href="{{ siteUrl }}news" {{ activeClass('news',1,'is-active') }}>News</a></li>
	        	</ul>
	    		</aside><!-- Off Canvas Menu */ -->

					<!-- /* Main Content Block -->
			    <main class="main main-content" role="main">{% block content %}{% endblock %}</main>
					<!-- Main Block */ -->		
								
				</div><!-- Inner Wrap for Arrows */ -->	


				<!-- /* Footer -->  
			  <footer class="footer">
			  	<div class="footer-wrap-forarrows">
				  	<div class="row">
				  		<div class="large-12 columns">
					      <ul class="footer-nav-list">
					      	{% for block in general.socialNetworks %}
					        <li class="footer-nav-social nospace">
					        	<a href="{{ block.networkUrl }}" class="icon-link">
											<span class="fa-stack fa-lg">
											  <i class="fa fa-circle fa-stack-2x"></i>
											  <i class="fa {{ block.networkIcon }} fa-stack-1x fa-inverse"></i>
											</span>
					        	</a>
					        </li>
					        {% endfor %}
					        <li classs="footer-nav-item"><a href="{{ siteUrl }}news">News</a></li>
					      </ul>
					      <ul class="footer-info-list">
					        <li class="footer-info-item"><a href="{{ siteUrl }}disclaimer">Disclaimer</a></li>
					        <li class="footer-info-item nowrap"><a href="{{ siteUrl }}privacy-policy">Privacy Policy</a></li>
					        <li class="footer-info-copyright nowrap">&copy; <a href="#">{{ now.year }} Corben Architects</a></li>
					        <li class="footer-info-hash nospace">/</li>
					        <li class="footer-info-sitedesign nowrap">Site Design <a href="http://petercrumpton.com.au/">All Things Visual</a></li>
					      </ul>
					    </div>
				  	</div>
				  </div> 
			  </footer>

  		<!-- close the off-canvas menu -->
  		<a class="exit-off-canvas"></a>

			</div><!-- Inner Wrap */ -->
		</div><!-- Off Canvas Container */ -->

    

		<!-- /BODY: Scripts -->
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/foundation/js/foundation.min.js"></script>
		<script src="/bower_components/owlcarousel/owl-carousel/owl.carousel.min.js"></script>
		<script src="/js/app.js"></script>


  </body>
</html>