{% extends "_layout" %}

{% block content %}
 
<div class="row">
	<div class="xlarge-4 columns">
		<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi harum alias autem in aliquid dolor magni optio voluptatibus consectetur accusantium voluptatum nesciunt possimus odit beatae quasi reprehenderit sint. Quo!</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi harum alias autem in aliquid dolor magni optio voluptatibus consectetur accusantium voluptatum nesciunt possimus odit beatae quasi reprehenderit sint. Quo!</p>
		<p>Officiis sequi soluta ullam saepe molestias aliquam magni voluptas sint quam suscipit! Architecto debitis vero soluta necessitatibus eligendi officia impedit reprehenderit veritatis ipsam quaerat ex doloremque esse iste quibusdam cumque.</p>
		<p>Quae architecto id eum laboriosam repellat assumenda odit repudiandae facere doloribus aliquid mollitia fugiat magnam. Magni molestiae iusto ipsum ullam deserunt maxime vel. Dolorum nihil esse deleniti ipsa nisi praesentium!</p>
		<p>Id repellat nisi ratione ullam numquam ex recusandae molestiae eveniet alias repudiandae corporis eius omnis ipsam veniam culpa rem delectus distinctio quam minima eaque sunt reiciendis beatae officiis consequatur itaque!</p>	
	</div>
  <div class="xlarge-8 columns">
  	<div class="slider">
    	<img src="http://placehold.it/1470x830&text=[ slideshow ]" />
  	</div>
  </div>
</div>

{% endblock %}