{% extends "_layout" %}

{% block content %}

<div class="row">
	<div class="large12 columns"> 	
			
			<h3 class="sg">Typography</h3>
			<hr class="sg">
			<div class="row">
				<div class="large-2 columns">					
					<h4 class="sg-label">Headings</h4>
					<h1>Heading 1</h1>
					<h2>Heading 2</h2>
					<h3>Heading 3</h3>
					<h4>Heading 4</h4>
					<h5>Heading 5</h5>
					<h6>Heading 6</h6>
				</div>
			  <div class="large-6 columns">
			  	<h4 class="sg-label">Paragraphs</h4>
			  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi harum alias autem in aliquid dolor magni optio voluptatibus consectetur accusantium voluptatum nesciunt possimus odit beatae quasi reprehenderit sint.</p>
					<p>Quae architecto id eum laboriosam repellat assumenda odit repudiandae facere doloribus aliquid mollitia fugiat magnam. Magni molestiae iusto ipsum ullam deserunt maxime vel. Dolorum nihil esse deleniti ipsa nisi praesentium!</p>
			  </div>
			  <div class="large-4 columns">
			  	<h4 class="sg-label">Lists</h4>
			  	<ul class="no-bullet">
			  		<li>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur.</li>
			  		<li>Lorem ipsum dolor sit amet, consectetur.</li>
			  		<li>Lorem ipsum dolor sit amet, consectetur.</li>
			  	</ul>
			  	<h4 class="sg-label">Links</h4>
			  	<a href="#" class="btn btn-link">View Project</a>
			  </div>
			</div>
			
			<hr class="sg">
			
			<div class="row">
				<div class="large-12 columns">
					<h4 class="sg-label">Icons</h4>
					<div class="row">
						<div class="small-2 columns">
							<i class="fa fa-angle-double-down fa-3x"></i>
						</div>
						<div class="small-2 columns">
							<i class="fa fa-angle-right fa-3x"></i>
						</div>
						<div class="small-2 columns">
							<i class="fa fa-angle-left fa-3x"></i>
						</div>
						<div class="small-2 columns">
							<i class="fa fa-th fa-3x"></i>
						</div>
						<div class="small-2 columns">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
							</span>
						</div>
						<div class="small-2 columns">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			
			<h3 class="sg">Molecules</h3>
			<hr class="sg">
			
			<div class="row">
				<div class="large-6 columns">
					<h4 class="sg-label">Awards</h4>
					<section class="awards-list">			
						<a class="award-block">
							<h6 class="award-title">Avery-Wright House</h6>
							<p class="award-subtitle">Carrington Avenue Mosman</p>
							<ul class="no-bullet award-notions-list">
								<li class="award-notion">Commendation Mosman Good Design Awards 2011</li>
							</ul>
						</a>			
						<a class="award-block">
							<h6 class="award-title">Avery-Wright House</h6>
							<p class="award-subtitle">Carrington Avenue Mosman</p>
							<ul class="no-bullet award-notions-list">
								<li class="award-notion">Commendation Mosman Good Design Awards 2011</li>
							</ul>
						</a>
						<a class="award-block">
							<h6 class="award-title">Avery-Wright House</h6>
							<p class="award-subtitle">Carrington Avenue Mosman</p>
							<ul class="no-bullet award-notions-list">
								<li class="award-notion">Commendation Mosman Good Design Awards 2011</li>
								<li class="award-notion">Commendation Mosman Good Design Awards 2011</li>
								<li class="award-notion">Commendation Mosman Good Design Awards 2011</li>
							</ul>
						</a>
					</section>
				</div>
				<div class="large-6 columns">
					<h4 class="sg-label">Contact Details</h4>
					<section class="contact-details">
						<h6 class="contact-hd">Address</h6>
						<p>suite 14, 40 Yeo St</p>
						<p>Neutral Bay, NSW 2089</p>
						<p class="contact-phone"><strong>Telephone</strong> +61 (02) 9904 1844</p>
						<p class="contact-fax"><strong>Facsimile</strong> +61 (02) 9904 1855</p>
						<p class="contact-email"><strong>Email</strong> <a href="mailxa@corben.com.au">mailxa@corben.com.au</a></p>
					</section>
				</div>
			</div>
			
			<hr class="sg">
			
			<div class="row">
				<div class="large-12 columns">
					<h4 class="sg-label">Project Details</h4>
					<section class="project-panel">
						<h2 class="project-title">Project Title <span class="divider">|</span> <small class="project-client">Client</small></h2>
						<div class="row">
							<div class="large-2 small-4 columns project-details">
								<ul class="no-bullet project-details-list">
									<li class="project-detail-item"><strong class="project-detail-label">Completed:</strong> YYYY</li>
									<li class="project-detail-item"><strong class="project-detail-label">Builder:</strong> Builder</li>
									<li class="project-detail-item"><strong class="project-detail-label">Area:</strong> #sqm</li>
									<li class="project-detail-item"><strong class="project-detail-label">Photographer:</strong> First Last</li>
									<li class="project-detail-item"><a href="" class="btn btn-link btn-project-pdf">Download PDF</a></li>
								</ul>
							</div>
							<div class="large10 small-8 columns project-description">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
							</div>
						</div>
					</section>
				</div>
			</div>
			
			<div class="row">
				<div class="large-12 columns">
					<h4 class="sg-label">Project Nav Bar</h4>
					<div class="project-navbar">
						<a href="" class="btn btn-proj-gallery"><i class="fa fa-th"></i></a>
						<a href="" class="btn btn-proj-overview">Project Overview</a>
						<ul class="pagination project-pagination">
						  <li class="current"><a href="">1</a></li>
						  <li><a href="">2</a></li>
						  <li><a href="">3</a></li>
						  <li><a href="">4</a></li>
						  <li><a href="">12</a></li>
						  <li><a href="">13</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="large-12 columns">
					<h4 class="sg-label">Team Grid</h4>
					<ul class="team-grid">
					  <li class="team-item">
					  	<div class="employee">
						  	<img class="emp-photo" src="http://placehold.it/480x320" />
								<h2 class="emp-name">First Last <small class="emp-position">Postition</small></h2>
								<p class="emp-job">B.Sc. (Arch) B Arch (Hon) FRAIA  Registration 4616</p>
								<p class="emp-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
					  	</div>
					  </li>
					  <li class="team-item">
							<div class="employee">
						 		<img class="emp-photo" src="http://placehold.it/480x320" />
						 		<h2 class="emp-name">First Last <small class="emp-position">Postition</small></h2>
						 		<p class="emp-job">B.Sc. (Arch) B Arch (Hon) FRAIA  Registration 4616</p>
						 		<p class="emp-bio">Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
						 	</div>
					  </li>
					  <li class="team-item">
							<div class="employee">
						  	<img class="emp-photo" src="http://placehold.it/480x320" />
								<h2 class="emp-name">First Last <small class="emp-position">Postition</small></h2>
								<p class="emp-job">B.Sc. (Arch) B Arch (Hon) FRAIA  Registration 4616</p>
								<p class="emp-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
					  	</div>
					  </li>
					  <li class="team-item">
							<div class="employee">
						  	<img class="emp-photo" src="http://placehold.it/480x320" />
								<h2 class="emp-name">First Last <small class="emp-position">Postition</small></h2>
								<p class="emp-job">B.Sc. (Arch) B Arch (Hon) FRAIA  Registration 4616</p>
								<p class="emp-bio">Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
					  	</div>
					  </li>
					  <li class="team-item">
							<div class="employee">
						  	<img class="emp-photo" src="http://placehold.it/480x320" />
								<h2 class="emp-name">First Last <small class="emp-position">Postition</small></h2>
								<p class="emp-job">B.Sc. (Arch) B Arch (Hon) FRAIA  Registration 4616</p>
								<p class="emp-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
					  	</div>
					  </li>
					</ul>
					<!-- ISOTOPE
					<div id="team-grid" class="js-isotope" data-isotope-options='{ "itemSelector": ".employee" }'>
					  <div class="employee">
						  <img class="emp-photo" src="http://placehold.it/292x195" />
						  <h2 class="emp-name">First Last <small class="emp-position">Postition</small></h2>
						  <p class="emp-job">B.Sc. (Arch) B Arch (Hon) FRAIA  Registration 4616</p>
						  <p class="emp-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
					  </div>
						<div class="employee">
						  <img class="emp-photo" src="http://placehold.it/292x195" />
						  <h2 class="emp-name">First Last <small class="emp-position">Postition</small></h2>
						  <p class="emp-job">B.Sc. (Arch) B Arch (Hon) FRAIA  Registration 4616</p>
						  <p class="emp-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
					  </div>
						<div class="employee">
						  <img class="emp-photo" src="http://placehold.it/292x195" />
						  <h2 class="emp-name">First Last <small class="emp-position">Postition</small></h2>
						  <p class="emp-job">B.Sc. (Arch) B Arch (Hon) FRAIA  Registration 4616</p>
						  <p class="emp-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
					  </div>
						<div class="employee">
						  <img class="emp-photo" src="http://placehold.it/292x195" />
						  <h2 class="emp-name">First Last <small class="emp-position">Postition</small></h2>
						  <p class="emp-job">B.Sc. (Arch) B Arch (Hon) FRAIA  Registration 4616</p>
						  <p class="emp-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
					  </div>
						<div class="employee">
						  <img class="emp-photo" src="http://placehold.it/292x195" />
						  <h2 class="emp-name">First Last <small class="emp-position">Postition</small></h2>
						  <p class="emp-job">B.Sc. (Arch) B Arch (Hon) FRAIA  Registration 4616</p>
						  <p class="emp-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus sequi voluptatem voluptatum perspiciatis sed consequatur assumenda ratione id dolor alias provident rem modi deserunt odit laboriosam pariatur exercitationem atque quo?</p>
					  </div>
					</div>
					-->
					</div>
			</div>
			
			<hr class="sg">
			
			<div class="row">
				<div class="large-8 columns">
					<h4 class="sg-label">Contact Form</h4>
					<section class="contactus-form">
						<form class="contact-form">
						  <div class="row">
						    <div class="large-7 columns">
						      <label>Name
						        <input type="text" placeholder="" />
						      </label>
						    </div>
						  </div>
						  <div class="row">
						    <div class="large-7 columns">
						      <label>Email
						        <input type="email" placeholder="" />
						      </label>
						    </div>
						    <div class="large-5 columns">
						      <label>Phone
						        <input type="tel" placeholder="" />
						      </label>
						    </div>			    
						  </div>
						  <div class="row">
						    <div class="large-12 columns">
						      <label>Message
						        <textarea rows="4" placeholder=""></textarea>
						      </label>
						    </div>
						  </div>
						  <div class="row">
						    <div class="large-12 columns">
						      <button class="button">Send</button>
						    </div>
						  </div>
						</form>
					</section>
				</div>
				<div class="large-4 columns">
					<h4 class="sg-label">Pagination</h4>
					<ul class="pagination">
					  <li class="current"><a href="">1</a></li>
					  <li><a href="">2</a></li>
					  <li><a href="">3</a></li>
					  <li><a href="">4</a></li>
					  <li><a href="">12</a></li>
					  <li><a href="">13</a></li>
					</ul>
				</div>
			</div>
			
			<h3 class="sg">Media</h3>
			<hr class="sg">
			
			<div class="row">
				<div class="large-12 columns">
					<h4 class="sg-label">Contact Google Map</h4>
					<section class="contact-map">
						<div class="google-map">
							<iframe width="1440" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Suite%2014%2C%2040%20Yeo%20St%20Neutral%20Bay%2C%20NSW%202089&key=AIzaSyBiAD2tlzv1CXVhOPFqf-bLDk_nM4k1EC8"></iframe>
						</div>
					</section>
				</div>
			</div>
			
			<hr class="sg">
			
			<div class="row">
				<div class="large-12 columns">
					<h4 class="sg-label">Slider</h4>
					<section class="carousel">
						<div id="home-carousel" class="owl-carousel corben-carousel"> 
							<div class="carousel-item home-carousel-item"><img src="http://placehold.it/1470x830" alt="Slide One" /></div>
							<div class="carousel-item home-carousel-item"><img src="http://placehold.it/1470x830" alt="Slide Two" /></div>
							<div class="carousel-item home-carousel-item"><img src="http://placehold.it/1470x830" alt="Slide Three" /></div> 
						</div>						
					</section>
				</div>
			</div>
			
			<hr class="sg">
			
			<div class="row">
				<div class="large-4 columns">
					<h4 class="sg-label">2 Column Default Page Layout (4/8)</h4>
					{content column}
				</div>
				<div class="large-8 columns">
					<h4 class="sg-label">Page Image</h4>
					<img src="http://placehold.it/1050x700" />
				</div>
			</div>
			
			<hr class="sg">
			
			<div class="row">
				<div class="large-12 columns">
					<h4 class="sg-label">Project Grid</h4>
					<ul class="project-grid project-grid-hover">
					  <li class="project-grid-item">
					  	<a href="#" class="project-thumb">
								<figure>
									<img class="project-thumb-img" src="http://placehold.it/480x320" />
									<figcaption>
										<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
									</figcaption>
								</figure>
					  	</a>
					  </li>
					  <li class="project-grid-item">
					  	<a href="#" class="project-thumb">
								<figure>
									<img class="project-thumb-img" src="http://placehold.it/480x320" />
									<figcaption>
										<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
									</figcaption>
								</figure>
					  	</a>
					  </li>
					  <li class="project-grid-item">
					  	<a href="#" class="project-thumb">
								<figure>
									<img class="project-thumb-img" src="http://placehold.it/480x320" />
									<figcaption>
										<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
									</figcaption>
								</figure>
					  	</a>
					  </li>
					  <li class="project-grid-item">
					  	<a href="#" class="project-thumb">
								<figure>
									<img class="project-thumb-img" src="http://placehold.it/480x320" />
									<figcaption>
										<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
									</figcaption>
								</figure>
					  	</a>
					  </li>
					  <li class="project-grid-item">
					  	<a href="#" class="project-thumb">
								<figure>
									<img class="project-thumb-img" src="http://placehold.it/480x320" />
									<figcaption>
										<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
									</figcaption>
								</figure>
					  	</a>
					  </li>
					  <li class="project-grid-item">
					  	<a href="#" class="project-thumb">
								<figure>
									<img class="project-thumb-img" src="http://placehold.it/480x320" />
									<figcaption>
										<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
									</figcaption>
								</figure>
					  	</a>
					  </li>
					  <li class="project-grid-item">
					  	<a href="#" class="project-thumb">
								<figure>
									<img class="project-thumb-img" src="http://placehold.it/480x320" />
									<figcaption>
										<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
									</figcaption>
								</figure>
					  	</a>
					  </li>
					  <li class="project-grid-item">
					  	<a href="#" class="project-thumb">
								<figure>
									<img class="project-thumb-img" src="http://placehold.it/480x320" />
									<figcaption>
										<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
									</figcaption>
								</figure>
					  	</a>
					  </li>
					  <li class="project-grid-item">
					  	<a href="#" class="project-thumb">
								<figure>
									<img class="project-thumb-img" src="http://placehold.it/480x320" />
									<figcaption>
										<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
									</figcaption>
								</figure>
					  	</a>
					  </li>
					  <li class="project-grid-item">
					  	<a href="#" class="project-thumb">
								<figure>
									<img class="project-thumb-img" src="http://placehold.it/480x320" />
									<figcaption>
										<h6 class="project-thumb-title">Project Name <span class="project-thumb-client">| Client</span></h6>
									</figcaption>
								</figure>
					  	</a>
					  </li>
					</ul>
				</div>
			</div>
			
			



	</div>
</div>

{% endblock %}